@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 22px;
  scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(52, 81, 69);
  }
  .img-gallery img{
    width: 270px;
    height: 270px;
    object-fit: cover;
    cursor: pointer;
    background-color: rgb(255, 115, 0);
    padding: 3px;
    transition: 0.3s;
  }
  .img-gallery img:hover{
    transform: scale(1.2);
  }
  .full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .full-img img{
    width: 100%;
    max-width: 500px;
  }
  .full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: xx-large;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  .img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px ;
  }



  .full-img button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 101;
}

.full-img #prevBtn {
    left: 5%;
}

.full-img #nextBtn {
    right: 5%;
}
